@import "/src/styles.scss";

.tdk-footer{
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: $primary-color;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 20px;
    padding-left: 30px;

    @media (max-width: $mobile-breakpoint){
        grid-template-columns: 1fr;
        grid-auto-rows: auto;
    }

    color: white;

    a{
        color: white;

        &:hover{
            transition-duration: .5s;
            color: $accent-color;
        }
    }

    h3{
        margin-top: 20px;
        font-weight: 300;
    }

    .contact-details{
    
        .contact-detail{
            display: flex;
            line-height: 50px;
            color: white;
            font-weight: lighter;
            align-items: center;
            margin: 10px 0 10px 0;
        
            .contact-detail-icon{
                line-height: 50px;
                color: $accent-color;
                font-size: 32px;
                margin-right: 10px;
            }
        }
    }

    .office-times{
        color: white;


        .office-time-block{
            font-weight: lighter;
            margin: 30px;
            margin-left: 10px;
        }

    }
}

.copyright-notice{
    grid-column: 1 / 3;

    @media (max-width: $mobile-breakpoint){
        grid-column: 1 / 2;
    }

    display: flex;
    justify-content: center;
    align-items: center;
    color: $text-color;
    text-align: center;
}