@import "/src/styles.scss";

.title{
    margin: 50px;
    text-align: center;
}

.info-list{
    margin: 20px;
}

.info-block{
    h1{
        margin: 20px 0 20px 0;
    }
    margin: 10px;
    margin-bottom: 100px;
}

.expand-btn{
    margin-top: 10px;
}