<h2>Wir freuen uns von Ihnen zu hören</h2>
<h1>Sie haben Fragen?</h1>
<form #feedbackForm="ngForm">
<!--     <label for="name">Name</label>
 -->    
    <input type="text" id="name" name="name" placeholder="Name" required minlength="2" [(ngModel)]="name">
    <input type="text" id="subject" name="subject" placeholder="Betreff" required minlength="3" [(ngModel)]="subj">
    <textarea type="text-area" id="message" name="message" placeholder="Nachricht" minlength="3" [(ngModel)]="msg"></textarea>
    <button class="btn btn-primary" [disabled]="feedbackForm.invalid"><a [href]="makeUrlString()" target="_blank">Senden</a></button>
</form>