<div class="toolbar">
  <nav class="topnav">
    <a routerLink="/home" routerLinkActive="active-nav-link">Home</a>
    <a routerLink="/stuecke" routerLinkActive="active-nav-link">Stücke</a>
    <a routerLink="/vorstellungen" routerLinkActive="active-nav-link">Spielplan & Karten</a>
    <a routerLink="/team" routerLinkActive="active-nav-link">Team</a>
    <a routerLink="/preise" routerLinkActive="active-nav-link">Preise</a>
    <a routerLink="/info" routerLinkActive="active-nav-link">Infos</a>
    <a routerLink="/kontakt" routerLinkActive="active-nav-link">Kontakt</a>
    <a routerLink="/presse" routerLinkActive="active-nav-link">Presse</a>
  </nav>
</div>
<router-outlet></router-outlet>
