@import "/src/styles.scss";

$toolbar-height: 80px;

.toolbar{
    z-index: 100;
    overflow: hidden;
    width: 100%;
    height: $toolbar-height;
    padding: 5px;
    background-color: white;
    box-shadow: 0 5px 15px rgba(0,0,0,0.25);
    border-radius: 0 0 5px 5px;
    margin-bottom: 30px;
    position: fixed;
    top: 0;
}

.nav-link{
    border-radius: 10px;
    min-width: 80px;
    margin: 20px;
    margin-top: 0;
    text-decoration: none;
    text-align: center;
    color: black;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: inline-block;
}


.tdk-topnav{
    height: 100%;
    line-height: 50px;

    a {
        @extend .nav-link;
        vertical-align: middle;

        &:hover{
            color: $accent-color;
        }
    }
    
    .active-nav-link, .active-nav-link:focus{
        @extend .nav-link;
        color: white;
        background-color: black;

        &:hover{
            background-color: $accent-color;
            color: white;
        }
    }

    .socials-link{
        text-align: center;
        display: inline-flex;
        min-width: 60px;
        width: auto;
    }

    .yt-link{
        @extend .socials-link;
        color: #ff1744;
        font-size: 48px;
        margin-right: 0;
        margin-left: 50px;

        &:hover{
            color: $primary-color;
        }
    }

    .fb-link{
        @extend .socials-link;
        line-height: 50px;
        margin-left: 0;
        color: #0277bd;
       
        .fb-icon{
            font-size: 42px;
        }

        &:hover{
            color: $primary-color;
        }
    }
}

.tdk-footer{
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: $primary-color;
    height: 200px;
}

.page-content{
    margin-top: $toolbar-height + 20px;
}