<div class="toolbar">
  <nav class="tdk-topnav">
    <a routerLink="/home" routerLinkActive="active-nav-link">Home</a>
    <a routerLink="/stuecke" routerLinkActive="active-nav-link">Stücke</a>
    <a routerLink="/vorstellungen" routerLinkActive="active-nav-link">Spielplan & Karten</a>
    <a routerLink="/team" routerLinkActive="active-nav-link">Team</a>
    <a routerLink="/info" routerLinkActive="active-nav-link">Infos & Preise</a>
    <a routerLink="/kontakt" routerLinkActive="active-nav-link">Kontakt</a>
    <a routerLink="/presse" routerLinkActive="active-nav-link">Presse</a>

    <a class="yt-link" target="_blank" href="https://www.youtube.com/user/brunorisi/featured"><span class="iconify" data-icon="mdi-youtube"></span></a>
    <a class="fb-link" target="_blank" href="https://www.facebook.com/KinderundErwachsene/"><span class="material-icons fb-icon">facebook</span></a>
  </nav>
</div>

<div class="page-content">
  <router-outlet></router-outlet>
</div>

<app-footer></app-footer>