@import '/src/styles.scss';

.shows-calendar{
    margin: 20px;
    grid-row: calendar;
}

.calendar-container{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: [cal-nav] auto [calendar] 1fr;
}

.cal-nav{
    grid-row: cal-nav;
    width: 100%;
    display: grid;
    grid-template-columns: [first] 1fr [prev] 1fr [today] 40% [next] 1fr [last] 1fr;
    grid-template-rows: [cal-nav] 100px;
    align-items: center;
    justify-content: center;

    .curr-month{
        text-align: center;
        margin: 5px 0 0 0;
        grid-row-start: 1;
        grid-column-start: today;
    }
}

.cal-btn{
    min-width: 100px;
    width: 100%;
    margin: 0;
    cursor: pointer;

    h2{
        font-size: 2.5em;
        font-weight: 400;
    }

    &.today-btn{
        margin: 10px;
        text-align: left;
        grid-row-start: 1;
        grid-column-start: first;
        cursor: pointer;
    }

    &.prev-date{
        text-align: right;
        grid-row: 1 / 2;
        grid-column-start: prev;
    }

    &.next-date{
        text-align: left;
        grid-row: 1 / 2;
        grid-column-start: next;
    }
}

.view-select{
    grid-row: 1 / 2;
    grid-column-start: last;
    margin: 10px;
}

.show-item{
    display: grid;
    height: 300px;
    grid-template-columns: [img] 400px [content] 1fr;
    column-gap: 50px;
    grid-template-rows: auto 1fr 1fr;

    margin: 50px;

    .show-cover{
        width: 100%;
        grid-row: 1 / 3;
        grid-column: img;
    }

    .show-title{
        text-align: left;
        grid-row: 1;
        grid-column: content;
    }

    .show-date{
        text-align: left;
        grid-row: 2;
        grid-column: content;
        font-size: 2.5em;
        font-weight: 300;
    }

    .show-tags{
        grid-row: 3;
        grid-column: content;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: start;
    }

    .show-chip{
        margin: 10px;
        border-radius: 20px;
        height: 30px;
        width: min-content;
        min-width: 200px;
        display: flex;
        text-align: center;
        align-self: center;
        align-items: center;
        justify-content: center;
        text-transform: uppercase;
        font-size: 0.8em;
        font-weight: 300;
        letter-spacing: 2px;
    }

    .sold-out-chip{
        @extend .show-chip;
        background-color: $orange-tag;
    }

    .cancelled-chip{
        @extend .show-chip;
        background-color: $red-tag;
        color: white;
    }

    .premiere-chip{
        @extend .show-chip;
        background-color: $green-tag;
    }

    .guest-show-chip{
        @extend .show-chip;
        background-color: $blue-tag;
        color: white;
    }
}