@import "/src/styles.scss";

.play-search{
    display: flex;
    margin: 20px;
    margin-top: 120px;
    align-items: center;
    justify-content: center;

    .search-icon{
        color: $accent-color;
        margin: 3px;
        font-size: 2em;
    }
}



.play-block{
    margin: 10px;

    .play-img-gallery{
        overflow: auto;
        white-space: nowrap;

        .play-img-block{
            margin: 10px;
            display: inline-block;

            .play-img{
                width: 350px;
                height: 200px;
                object-fit: cover;
            }
        }
    }
}