@import '/src/styles.scss';

.intro-block{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 500px;
}

.intro-text{
    grid-column-start: 1;
    grid-column-end: 2;

    padding: 20px;

    h1{
        color: $primary-color;
        margin-top: 0px;
    }

    h2{
        margin-bottom: 0px;
    }
}

.intro-cover{
    grid-column-start: 2;
    grid-column-end: 3;

    padding: 20px;

    img{
        max-width: 100%;
    }
}

.department-block{
    
}