@import "/src/styles.scss";

h1{
    width: 100%;
    text-align: center;
}

.archive-btn-container{
    display: flex;
    align-items: center;
    justify-content: center;

    .archive-btn{
        margin: 20px;
        border-radius: 15px;
        box-shadow: 0 0 20px rgba(0,0,0,0.25)
    }
}

.play-grid{
    display: grid;
    grid-template-columns: 1fr;

    @media screen and (min-width: $landscape-breakpoint){
        grid-template-columns: 1fr 1fr;
    }

    @media screen and (min-width: $tablet-breakpoint) {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

.plays{
    margin: 20px;
}