@import "/src/styles.scss";

.archive-btn-container{
    display: flex;
    align-items: center;
    justify-content: center;

    .archive-btn{
        margin: 20px;
        border-radius: 15px;
        box-shadow: 0 0 20px rgba(0,0,0,0.25)
    }
}

.plays{
    margin: 20px;
}