<div class="plays">
    <h1 class="play-header">Aktuelle Stücke</h1>
    <div class="play-grid">
        <app-play-teaser *ngFor="let play of seasonalPlays" [play]="play"></app-play-teaser>
    </div>

    <div class="archive-btn-container">
        <button (click)="toggleArchive()" [ngSwitch]="showArchive" class="btn archive-btn">
            <span *ngSwitchCase="true">Archiv verbergen</span>
            <span *ngSwitchDefault>Archiv anzeigen</span>
        </button>
    </div>
    <div *ngIf="showArchive">
        <h1 class="play-header">Archiv</h1>
        <div class="play-grid">
            <app-play-teaser *ngFor="let play of archivedPlays" [play]="play"></app-play-teaser>
        </div>
    </div>
</div>